
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  height: 100vh;
}

body {
  background-color: rgba(19, 19, 19, 1);
  overflow: hidden;
}

#loadingContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-duration: 1s;
}

#loadingContainer svg {
  width: fit-content;
  height: 5vh;
}

#loadingContainer svg path {
  fill: rgba(168, 26, 2, 1);
  animation-name: makesvg;
  animation-duration: 1s;
}
